.con1-2-2{
    background-color: rgba(224, 223, 223, 0.589);
    padding: 20px;
}

.products-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1cm;
    text-shadow: 2px 2px 4px #333333;
}



.carousel-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   /* padding: 10px;*/
}
.carousel-item{
    margin-right: o;
}

.card-group{
    /*background-color: rgba(224, 223, 223, 0.589);*/
    
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line on smaller screens */
    justify-content: center;
}


.card-group .card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-group .card{
    margin: 20px; 
    margin-left: 20px;
    width: 18rem; 
}
.card img{
    height: 220px;
}
.pre-next{
    height: 50px;
    width: 50px;
    top: 50%;
    background-color: rgba(51, 51, 51, 0.576);
}
.pre-btn{
    left: 1%;
}
.next-btn{
    right: 1%;
}
#addcart-btn{
    background-color: #333333;
    border: #333333;
    padding-right: 20px;
    transition: all 0.3s; /*for a smooth transition*/
}
#addcard-text i, span{
    color: whitesmoke;
    font-size: large;
}
#addcart-btn:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 567px) and (max-width: 767px) {
    .card:not(:nth-child(-n+2)) {
        display: none;
    }

    .card-group{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}

@media screen and (max-width: 567px) {
    .card:not(:first-child) {
        display: none;
    }

    .card-group{
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}